.bg-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  min-height: 60vh;
  width: 100%;
  background-color: #F2F2F2;
}
.bg-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  min-height: 60vh;
  width: 100%;
  background-color: #FFF;
}

.bg-a >:first-child,
.bg-b >:first-child{
  margin-top: 60px;
}
.bg-a >:last-child,
.bg-b >:last-child{
  margin-bottom: 60px;
}

.product h1 {
  /* Apenas os leitores de página vão pegar a informação */
  display: none;
}

.product img {
  height: 35vw;
  width: 100%;
}

section p {
  /* Justificar o texto - o Bootstrap oficial não tem texto justificado*/
  text-align: justify;
  text-justify: inter-word;
  text-indent: 2em;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.product-ilustration img {
  max-height: 40vh;
  width: auto;
  margin-bottom: 30px;
}
@media (max-width: 650px) {
  .product-ilustration img {
    max-height: 30vh;
    max-width: 103%;
  }
}

#technology .tab-content .container {
  margin-top: 20px;
}

#technology .tab-content .container img {
  max-width: 85vw;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover { 
  border: 2px solid black;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
}

.fit-image {
  overflow: hidden;
  height: 10vw;
  width: 21vw;
  margin-bottom: 20px;
  border-radius: 10px;
}

.gallery img {
  height: 10vw;
  width: 21vw;
  transition: 2s;
}
.gallery img:hover {
  transform:scale(1.5);
  -ms-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
}

@media (max-width: 650px) {
  .fit-image {
    height: 10vw;
    width: 26vw;
  }
  .gallery img {
    width: 26vw;
  }
}

.modal-gallery {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-modal .picture {
  height: auto;
  width: 98vw;
  transition: 1s;
}

.container-modal {
  position: relative;
}

.control button {
  position: absolute;
  top: calc(22vw - 40px);

  height: 100px;
  width: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 20px;
}

.control button img {
  padding-bottom: 10px;
}

.control .prev {
  left: 50px;
}
.control .next {
  right: 50px;
}

@media (max-width: 650px) {
  .control button {
    top: calc(22vw - 25px);
    height: 50px;
    width: 40px;
  }
  .control .prev {
    left: 10px;
  }
  .control .next {
    right: 10px;
  }
  .control button img {
    padding-bottom: 20px;
  }
}

@media (max-width: 370px) {
  .control button {
    width: 30px;
  }
  .control button img {
    padding-bottom: 25px;
  }
}

.animate-right {
  position:relative;
  animation:animateleft 0.4s;
}
@keyframes animateleft{
  from{left:-100%; opacity:0} 
  to{left:0;opacity:1}
}

.animate-left {
  position:relative;
  animation:animateright 0.4s;
}
@keyframes animateright{
  from{right:-100%; opacity:0} 
  to{right:0;opacity:1}
}

.modal-gallery img {
  height: auto;
  width: 100%;
}

.modal-gallery.enable {
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.modal-gallery .carousel {
  top: 50px;
}

.close {
  position: absolute;
  top: 2px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  padding: 15px;
  height: 40px;
  width: 40px;
  margin: 0;
  border-radius: 50%;
  text-align: center;
  
  font-size: 30px;
  cursor: pointer;
}

footer .bg-a{
  min-height: 100px;
  width: 100%;
}

footer .container {
  margin: 20px auto !important;
}

footer .col-4 img {
  padding-bottom: 4px;
}