.bg-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  min-height: 80vh;
  width: 100%;
  background-color: #F2F2F2;
}
.bg-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  min-height: 80vh;
  width: 100%;
  background-color: #FFF;
}

.bg-a >:first-child,
.bg-b >:first-child{
  margin-top: 60px;
}
.bg-a >:last-child,
.bg-b >:last-child{
  margin-bottom: 60px;
}

.product h1 {
  /* Apenas os leitores de página vão pegar a informação */
  display: none;
}

section p {
  /* Justificar o texto - o Bootstrap oficial não tem texto justificado*/
  text-align: justify;
  text-justify: inter-word;
  text-indent: 2em;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.product-ilustration img {
  max-height: 40vh;
  width: auto;
  margin-bottom: 30px;
}
@media (max-width: 650px) {
  .product-ilustration img {
    max-height: 30vh;
    max-width: 103%;
  }
}

#technology .tab-content .container {
  margin-top: 20px;
}

#technology .tab-content .container img {
  max-width: 85vw;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover { 
  border: 2px solid black;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
}

.fit-image {
  overflow: hidden;
  height: 10vw;
  width: 21vw;
  margin-bottom: 20px;
  border-radius: 10px;
}

.gallery img {
  height: 10vw;
  width: 21vw;
  transition: 2s;
}
.gallery img:hover {
  transform:scale(1.5);
  -ms-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
}

@media (max-width: 650px) {
  .fit-image {
    height: 10vw;
    width: 26vw;
  }
  .gallery img {
    width: 26vw;
  }
}

.modal-gallery {
  position: fixed;
}

.modal-gallery img {
  height: auto;
  width: 100%;
}

.modal-gallery.enable {
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.modal-gallery .carousel {
  top: 50px;
}

.close {
  position: absolute;
  top: 2px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  padding: 15px;
  height: 40px;
  width: 40px;
  margin: 0;
  border-radius: 50%;
  text-align: center;
  
  font-size: 30px;
  cursor: pointer;
}